/*Seletor - seleciona cada um dos elementos do documento HTML*/
* {
	/*Zerar as propriedades de margin e padding de todos os elementos */
	/* Objetivo: termos o controle sobre todo o conteudo da pg */
	margin: 0;
	padding: 0;
}

/*Seleciona o elemento HTML e aplica as propriedades principais*/
html {
	/*Define a familia da fonte de texto*/
	font-family: Arial, Verdana, sans-serif;
	/*Define o tamanho da fonte*/
	font-size: 16px;
	/*Define cor de fundo padrao da pagina*/
	background-color: #F0F;
}

/*Define altura, largura e etc da div principal*/
#container {
	/*Define a largura maxima*/
	max-width: 1200px;
	/*Define a largura minima*/
	min-width: 600px;
	/*Define a cor de fundo*/
	background-color: #c0c0c0;
	/*Define espaçamento da margem nas laterias - automaticamente*/
	margin:0 auto;
}

/*Seleciona o elemento HEADER*/
header {
	/*define a altura - por enquanto*/
	height: 60px;
	/*define a cor de fundo*/
	background-color: #573258;
	/*centraliza os textos do header*/
	text-align: center;
}	

img {
	width: 100px;
}

/************* TITULO - H1 ******************/
header h1 {
	/*define um espaçamento entre a borda e o conteudo do elemento*/
	padding: 10px 0;
	/*define cor da fone*/
	color: #FFFFFF;
}

/************* MENU DE NAV ******************/
nav {
	/*define a altura do menu de navegacao - por enquanto*/
	height: 50px;
	/*define a cor de fundo do menu*/
	background-color: #DCB6DE;
}

nav ul li {
	/*dispoe os elementos um ao lado do outro*/
	display: inline-block;
	/*define uma cor de fundo*/
	background-color: #000000;
	/*define padding 8px e 10x nas laterais*/
	padding: 8px 10px;
	/*define um espacamento à direita de cada li*/
	margin-right: 10px;

	/*define uma transição qdo o valor da propriedade background-colocar for alterado,
	levando x segundos para terminar a alteração da cor*/
	transition: background-color 0.3s;
}

/*Hover - esse seletor funciona apenas quando o mouse estiver sobre o elemento*/

nav ul li:hover,
nav ul li:active {
	background-color: #808080;
}

nav ul li a:link, 
nav ul li a:visited {
		color: #FFF;
		/*remove sublinhado*/
		text-decoration: none;
		/*deixa em negrito*/
		font-weight: bold;
}


