<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="../../../client/usuario/css/usuario.css">
      <title>Escola</title>
  </head>
  <body>
    <div class="container">
      <header>
        <a id="titulo" href="/">SGE: Sistema de Gestão Escolar</a>
        <nav>
          <ul>
            <li>
              <a href="/contato/">Contato</a>
            </li>
            <li>
              <a href="/conta/login/">Sair</a>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <h1>Professores da Escola</h1>
        <section class="linha">
          <ul>
            <li>
              <div>
                <a href="./contratados/"><img src="../../../client/usuario/img/contratados_icone.jpg" alt="Icone de Contratados - Retirado de https://www.piqsels.com/en/public-domain-photo-zbclp"></a>
                <p>Verifique a lista de professores contratados.</p>
              </div>
            </li>
            <li>
              <div>
                <a href="./contratar/"><img src="../../../client/usuario/img/contratar_icone.jpg" alt="Icone de Contratar - Retirado de https://www.piqsels.com/en/public-domain-photo-zbtif"></a>
                <p>Contrate um novo professor.</p>
              </div>
            </li>
            <li>
              <div>
                <a href="./vinculo/"><img src="../../../client/usuario/img/vinculo_icone.jpg" alt="Icone de Vínculo - Retirado de https://www.piqsels.com/en/public-domain-photo-jrroq"></a>
                <p>Visualize Vínculo de Disciplinas e Professores.</p>
              </div>
            </li>
          </ul>
        </section>
        <section class="linha">
          <ul>
            <li>
              <div>
                <a href="./criar_vinculo/"><img src="../../../client/usuario/img/criar_vinculo_icone.jpg" alt="Icone de Criar Vinculo - Retirado de https://www.piqsels.com/en/public-domain-photo-jrrtz"></a>
                <p>Vincule professores em disciplinas.</p>
              </div>
            </li>
          </ul>
        </section>
        <a id="voltar" href="../">Voltar</a>
      </main>
      <footer>
        <p>Página criada por Rafael Petry da Silva, 2021.</p>
      </footer>
    </div>
  </body>
</html>