<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="../../../client/usuario/css/usuario.css">
      <title>Escola</title>
  </head>
  <body>
    <div class="container">
      <header>
        <a id="titulo" href="/">SGE: Sistema de Gestão Escolar</a>
        <nav>
          <ul>
            <li>
              <a href="/sobre/">Sobre</a>
            </li>
            <li>
              <a href="/conta/login/">Sair</a>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <h1>Cursos da Escola</h1>
        <section class="linha">
          <ul>
            <li>
              <div>
                <a href="./criados/"><img src="../../../client/usuario/img/lista_icone.jpg" alt="Icone de Lista - Retirado de https://www.piqsels.com/en/public-domain-photo-zbthe"></a>
                <p>Verifique a lista de cursos criados.</p>
              </div>
            </li>
            <li>
              <div>
                <a href="./criar/"><img src="../../../client/usuario/img/criar_icone.jpg" alt="Icone de Criar - Retirado de https://www.piqsels.com/en/public-domain-photo-zbgee"></a>
                <p>Crie um novo curso.</p>
              </div>
            </li>
            <li>
              <div>
                <a href="./turmas/"><img src="../../../client/usuario/img/lista_icone.jpg" alt="Icone de Lista - Retirado de https://www.piqsels.com/en/public-domain-photo-zbthe"></a>
                <p>Verifique a lista de turmas da instituição.</p>
              </div>
            </li>
          </ul>
        </section>
        <a id="voltar" href="../">Voltar</a>
      </main>
      <footer>
        <p>Página criada por Rafael Petry da Silva, 2021.</p>
      </footer>
    </div>
  </body>
</html>