<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/client/conta/css/conta.css">
        <title>Criar Professor</title>
    </head>
    <body>
        <div id="container">
            <header>
                <a id="titulo" href="/">SGE: Sistema de Gestão Escolar</a>
                <nav>
                    <ul>
                        <li>
                            <a href="/sobre/">Sobre</a>
                        </li>
                        <li>
                            <a href="/conta/login/">Login</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <section id="formTitulo">
                    <h1>Criar Professor</h1>
                </section>
                <form method="POST" action="./">
                    <div>
                        <label for="cpf">CPF</label><br>
                        <input type="text" id="cpf" name="cpf"><br>
                    </div>
                    <div>
                        <label for="nome">Nome</label><br>
                        <input type="text" id="nome" name="nome"><br>
                    </div>
                    <div>
                        <label for="telefone">Telefone</label><br>
                        <input type="text" id="telefone" name="telefone"><br>
                    </div>
                    <div>
                        <label for="email">E-mail</label><br>
                        <input type="text" id="email" name="email"><br>
                    </div>
                    <div>
                        <label for="senha">Senha</label><br>
                        <input type="password" id="senha" name="senha"><br>
                    </div>
                    <input onclick="window.location.href = '../sucesso';" type="submit" value="Criar">
                </form>
            </main>
            <footer>
                <p>Página criada por Rafael Petry da Silva, 2021.</p>
            </footer>
        </div>
    </body>
</html>