<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="client/homePage/css/homePage.css">
        <title>SGE: Sistema de Gestão Escolar</title>
    </head>
    <body>
        <div id="container">
            <header>
                <a id="titulo" href="/">SGE: Sistema de Gestão Escolar</a>
                <nav>
                    <ul>
                        <li>
                            <a href="/sobre/">Sobre</a>
                        </li>
                        <li>
                            <a href="/conta/login/">Login</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <section id="destaque">
                <figure>
                    <img src="client/homePage/img/sge_banner.jpg" alt="Banner do SGE - Retirado de https://www.piqsels.com/en/public-domain-photo-jrraz">
                    <figcaption>O melhor lugar para gerenciar sua escola e estudos!</figcaption>
                </figure>
            </section>
		    <main>
                <section id="opcoes">
                    <h1>Comece agora!</h1>
                    <ul>
                        <li>
                            <div>
                                <a href="/conta/escola/"><img src="client/homePage/img/escola_icone.jpg" alt="Icone de Escola - Retirado de https://www.piqsels.com/en/public-domain-photo-zbgbx"></a>
                                <p>Crie a conta de sua escola.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="/conta/professor/"><img src="client/homePage/img/professor_icone.jpg" alt="Icone de Professor - Retirado de https://www.piqsels.com/en/public-domain-photo-zbdxx"></a>
                                <p>Crie sua conta de professor.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="/conta/aluno/"><img src="client/homePage/img/aluno_icone.jpg" alt="Icone do Aluno - Retirado de https://www.piqsels.com/en/public-domain-photo-zbgbj"></a>
                                <p>Crie sua conta de aluno.</p>
                            </div>
                        </li>
                    </ul>
                </section>
            </main>
            <footer>
                <p>Página criada por Rafael Petry da Silva, 2021.</p>
            </footer>
        </div>
    </body>
</html>