<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/client/usuario/css/cadastro.css">
        <title>Sobre</title>
    </head>
    <body>
        <div id="container">
            <header>
                <a id="titulo" href="/">SGE: Sistema de Gestão Escolar</a>
                <nav>
                    <ul>
                        <li>
                            <a href="/sobre/">Sobre</a>
                        </li>
                        <li>
                            <a href="/conta/login/">Login</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <section id="formTitulo">
                    <h1>Sobre o Desenvolvedor</h1>
                </section>
                <br>
                <br>
                <p>Nome: Rafael Petry da Silva</p>
                <p>E-Mail: 10160072@restinga.ifrs.edu.br</p>
                <p>Instituição: IFRS - Campus Restinga</p>
                <p>Curso: 3º Ano - Informática</p>
                <br>
            </main>
            <footer>
                <p>Página criada por Rafael Petry da Silva, 2021.</p>
            </footer>
        </div>
    </body>
</html>