<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Curso</title>
</head>
<body>
    <form method="POST" action="./">
        ID da turma:<input name="id_turma" type ="text">
        ID da disciplina:<input name="id_disciplina" type="number">
        </br>
        </br>
        <input type="submit" value="Vincular">
    </form>
</body>
</html>